.headerElements {
    background-color: #FFFFFC;
}
.navi {
    flex: 100%;
    align-items: stretch;
    margin: 2em;
}
.navItems {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    background-color: #D4AF37;
    height: 15vmin;
    width: 15vmin;
    color: #808782;
    margin: 2em; 
    font-size: 1.5em;
    text-align: center;
}
.navItems:hover  {
    color: #808782;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #808782;
    background-color:#D4AF37;
    padding:15vmin;
    padding-top: 15vmin; 
    
    
    }
    .nav-pills> li.active > a:hover {
        background-color:#D4AF37;
        color: #808782;
    }

.panel{
    background-color: white;
    text-align: center;
    border-style: solid;
    border-color: #666A86;
    border-width: thin;
    margin-left:20%;
}
.panel-default>.panel-heading {
    background-color:#EBF38B;
    color:#666A86;
    text-align: center;
}
.panelwidth{
    width:70vw;
    max-width: 70vw;
}
.image {
    width:10em;
    height:10em;
    margin-top: 40px;
}
.bDone{
    float: left;
    color: #D4AF37;
    background-color: white;
    border-style: none;
    border-radius: 5%;
    padding: 0.25em;
    padding-right: 0.5em;
    padding-left:0.5em;
}
.bPoista {
    float: right;
    color: #D4AF37;
    background-color: white;
    border-style: none;
    border-radius: 5%;
    padding: 0.25em;
    padding-right: 0.5em;
    padding-left:0.5em;
}
div.navi{
    margin-left: 15%;
    align-items: center;
}

