.App {
  text-align: center;
  
}
a:link {
  color: #808782;
}
a:visited{
  color: #666A86;
}
a:hover{
  color: #50514F;
}
a:active{
  color: #50514F;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color:white;
  /* min-height: 10vh; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color:  #282c34;
} 
/* 
 .App-link {
  color: #808782;
}  */
